<% provide(:title, 'Editar Notificação') %>
<h1>Editar Notificação</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@announcement) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :message, "Mensagem" %>
      <%= f.text_field :message %>

      <%= f.label :begin_date, "Data de Início" %>
      <div class="date-select">
        <%= f.datetime_select :begin_date, default: Time.now %>
      </div>

      <%= f.label :begin_date, "Data de Fim" %>
      <div class="date-select">
        <%= f.datetime_select :end_date, default: Time.now %>
      </div>

      <%= f.submit "Guardar Modificações", class: "button-style" %>
    <% end %>
  </div>
</div>
