<% provide(:title, 'Repor Password') %>
<h1>Repor Password</h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :password %>
      <%= f.password_field :password %>
    
      <%= f.label :password_confirmation, "Confirmação de Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Repor Password", class: "button-style" %>
    <% end %>
  </div>
</div>
