<% provide(:title, 'Lista de Artigos') %>
<h1>Lista de Artigos</h1>

<% unless @tag.empty? %>
  <h3 class="tag-line">Categoria: <%= @tag %></h3>
<% end %>

<div id="search-box">
  <%= form_tag articles_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] , placeholder: "Procurar Artigo..." %>
    <%= submit_tag "Procurar", :name => nil , class: "button-style"%>
  <% end %>
</div>

<div id="index-articles">
  <%= will_paginate %>

  <ul>
    <% @articles.each do |article| %>
      <% if signed_in? and current_user.read?(article) %>
        <li class="article article-read">
          <span class="icon icon-ok"></span>
      <% else %>
        <li class="article">
      <% end %>
        <% if article.draft %>
          <span class="icon icon-eye-close"></span>
        <% end %>
        <%= link_to article.title, article %>
        <% if signed_in? and current_user.admin? %>
          , <%= link_to "Editar Artigo", edit_article_path(article) %>
          , <%= link_to "Apagar Artigo", article, method: :delete, data: { confirm: "Tem a certeza que quer eliminar o artigo #{article.title}?" } %>
    <% end %>
      </li>
    <% end %>
  </ul>

  <%= will_paginate %>

<% if signed_in? and current_user.admin? %>
  <div id="create-article">
    <%= link_to "Novo Artigo", new_article_path %>
  </div>
<% end %>

</div>
