<% provide(:title, 'Novo Artigo') %>
<h1>Novo Artigo</h1>

<div class="row">
  <div class="span8 offset2">
    <%= form_for(@article) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title, "Título" %>
      <%= f.text_field :title %>

      <%= f.label :article_tag_list, "Categorias (separadas por vírgulas)" %>
      <%= f.text_field :article_tag_list %>

      <%= f.label :content, "Artigo (em HTML)" %>
      <%= f.text_area :content, :rows => 20, placeholder: "Escreva aqui o artigo..." %>

      <%= f.submit "Criar Artigo", class: "button-style" %>
    <% end %>
  </div>
</div>
