<% provide(:title, @article.title) %>
<h1><%= @article.title %></h1>
<%= raw (pre2plain(coderay(@article.content))) %>

<div id="article-footer">
  <p>
    <% unless @article.attach_file_name.nil? %>
      <%= link_to 'Ver versão pdf', @article.attach.url %> | 
    <% end %>
    <% if signed_in? and current_user.admin? %>
      <%= link_to "Editar", edit_article_path(@article) %> | 
    <% end %>
    <% if @article.article_tag_list.count > 0 %>
      <span class="icon icon-tag"></span> <b>Categorias:</b> <%= raw @article.article_tag_list.map { |t| link_to t, article_tag_path(t) }.join(', ') %>
    <% end %>
  </p>
</div>

<% if signed_in? %>
  <%= render 'read_form' %>
<% end %>
