<% provide(:title, 'Lista de Problemas') %>
<h1>Lista de Problemas</h1>

<% unless @tag.empty? %>
  <h3 class="tag-line">Tipo de Problema: <%= @tag %></h3>
<% end %>

<div id="search-box">
  <%= form_tag problems_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] , placeholder: "Procurar Problema..." %>
    <%= submit_tag "Procurar", :name => nil , class: "button-style"%>
  <% end %>
</div>

<div id="index-articles">
  <ul>
    <% @problems.each do |problem| %>
      <li>
        <%= link_to problem.title, problem %>
        <% if signed_in? and current_user.admin? %>
          , <%= link_to "Editar Problema", edit_problem_path(problem) %>
          , <%= link_to "Apagar Problema", problem, method: :delete, data: { confirm: "Tem a certeza que quer eliminar o problema #{problem.title}?" } %>
    <% end %>
      </li>
    <% end %>
  </ul>

<p><%= link_to "Lista de Tipos de Problemas", problem_types_path %></p>

<% if signed_in? and current_user.admin? %>
  <div>
    <%= link_to "Novo Problema", new_problem_path %>
  </div>
<% end %>

</div>
