<% provide(:title, 'Novo Problema') %>
<h1>Novo Problema</h1>

<div class="row">
  <div class="span8 offset2">
    <%= form_for(@problem) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title, "Título" %>
      <%= f.text_field :title %>

      <%= f.label :statement, "Enunciado" %>
      <%= f.text_area :statement , :rows => 20, placeholder: "Escreva aqui o enunciado do problema..." %>

      <%= f.label :link, "Link" %>
      <%= f.text_field :link %>

      <%= f.label :submit_link, "Link de Submissão" %>
      <%= f.text_field :submit_link %>

      <%= f.label :solution, "Solução" %>
      <%= f.text_area :solution , :rows => 20, placeholder: "Escreva aqui a solução do problema..." %>

      <%= f.label :notes, "Notas" %>
      <%= f.text_area :notes , :rows => 10 %>

      <%= f.submit "Criar Problema", class: "button-style" %>
    <% end %>
  </div>
</div>
