<% provide(:title, 'Mudar Imagem') %>
<h1>Mudar Imagem</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'shared/error_messages' %>
    <%= form_for(@user, :html => { :multipart => true }) do |f| %>
  
      <%= f.label :profile_image, "Imagem de Perfil" %>
      <%= f.file_field :profile_image %>

      <p>Atenção: A imagem será reduzida para um tamanho de 180x180.</p>
      
      <p><%= f.submit "Enviar Imagem", class: "button-style" %></p>
    <% end %>
  </div>
</div>
