<% provide(:title, 'Mudar Password') %>
<h1>Mudar Password</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'shared/error_messages' %>
    <%= form_for(@user) do |f| %>
      <%= f.label :old_password, "Password Antiga" %>
      <%= f.password_field :old_password %>

      <%= f.label :password, "Nova Password" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmação de Password" %>
      <%= f.password_field :password_confirmation %>
      
      <%= f.submit "Atualizar Password", class: "button-style" %>
    <% end %>
  </div>
</div>
