<% provide(:title, "Editar Conta") %>
<h1>Editar Conta</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "Nome" %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :grade, "Ano Escolar" %>
      <%= f.number_field :grade %>

      <%= f.label :city, "Cidade" %>
      <%= f.text_field :city %>

      <%= f.label :school, "Escola" %>
      <%= f.text_field :school %>

      <% if current_user.admin? %>
        <%= f.label :qualifications, "Qualificações" %>
        <%= f.number_field :qualifications %>

        <%= f.label :finals, "Finais" %>
        <%= f.text_field :finals %>

        <%= f.label :wins, "IOIs" %>
        <%= f.text_field :iois %>
        
        <%= f.label :wins, "Vitórias" %>
        <%= f.text_field :wins %>

        <%= f.label :bronze, "Bronzes" %>
        <%= f.text_field :bronze %>

        <%= f.label :silver, "Pratas" %>
        <%= f.text_field :silver %>

        <%= f.label :gold, "Ouros" %>
        <%= f.text_field :gold %>
      <% end %>

      <%= f.submit "Guardar Modificações", class: "button-style" %>
    <% end %>
  </div>
</div>
