<% provide(:title, 'Todos os Concorrentes') %>
<h1>Todos os Concorrentes</h1>

<div id="index-users">

  <h3>Concorrentes</h3>
  <%= will_paginate @current_users %>
  <ul>
    <% @current_users.each do |user| %>
      <li class="user">
        <%= link_to (namify user.name), user %>: <%= get_grade_from_year(user.graduation_year) %>ยบ ano
      </li>
    <% end %>
  </ul>

  <%= will_paginate @current_users %>


  <h3>Ex-Concorrentes</h3>
  <%= will_paginate @past_users %>

  <ul>
    <% @past_users.each do |user| %>
      <li class="user">
        <%= link_to (namify user.name), user %>
      </li>
    <% end %>
  </ul>

  <%= will_paginate @past_users %>

</div>
