<% provide(:title, @post.title) %>
<h1><%= @post.title %></h1>

<%= raw @post.content %>

<div id="article-footer">
  <p>
    <span class="icon icon-pencil"></span> <b>Escrito por:</b> <%= link_to (namify @post.user.name), @post.user %> hรก <%= time_ago_in_words(@post.created_at) %>.
    <% if signed_in? and current_user.admin? %>
      | <%= link_to "Editar", edit_post_path(@post) %> | <%= link_to "Apagar Post", @post, method: :delete, data: { confirm: "Tem a certeza que quer eliminar o post #{@post.title}?" } %>
    <% end %>
  </p>
</div>
