<% provide(:title, @guide.title) %>
<h1><%= @guide.title %></h1>
<h3>Descrição</h3>
<%= simple_format(@guide.description) %>
<h3>Lista de Artigos (<%= @guide_articles.count %>)</h3>
<ul>
  <% @guide_articles.each do |article| %>
    <li><%= link_to article.title, article %>        
        <% if signed_in? and current_user.admin? %>
          , <%= link_to "Remover Artigo", GuideRelationship.find_by(article_id: article.id, guide_id: @guide.id), method: :delete, data: { confirm: "Tem a certeza que quer remover o artigo #{article.title} deste Guia?" } %>
        <% end %>
    </li>
  <% end %>
</ul>
