<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="span2">
        <%= link_to image_tag("logo.png", alt: "Loop"), root_path, id: "logo" %>
      </div>
      <div id="infobox">
        <div id="statusbox">
          <%= render 'layouts/user_status' %>
        </div>
        <nav>
          <ul>
            <li><%= link_to "Início", root_path %></li>
            <li class="click-nav">
              Recursos <b class="caret" style="vertical-align: middle;"></b>
              <ul>
                <li><%= link_to "Artigos", '#' %></li>
                <li><%= link_to "Guias", '#' %></li>
                <li><%= link_to "Categorias", '#' %></li>
              </ul>
            </li>
            <li><%= link_to "Problemas", '#' %></li>
            <li><%= link_to "Concursos", '#' %></li>
            <li><%= link_to "Concorrentes", users_path %></li>
            <li><%= link_to "Olimpíadas (ONI)", 'http://www.dcc.fc.up.pt/oni/', target: "_blank" %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
