<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container" id="content">
      <div class="container" id="page">
        <% unless current_announcements.nil? or current_announcements.empty? %>
          <div id="announcement-box" class="alert alert-warning">
            <% for announcement in current_announcements %>
             <p><b>Notificação:</b> <%= announcement.message %></p>
            <% end %>
            <p><%= link_to "Esconder Notificações", "/hide_announcement.js", remote: true  %></p>
          </div>
        <% end %>

        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
